@using ClothesShop.SharedVMs.Models;
@model HomepageVMs;

@{
    ViewData["Title"] = "Home Page";
    string baseAddress = "https://localhost:7167/api/Images";
}

<div>
    <!-- Background image -->
    <div class="homepage-image p-5 bg-image">
        <div class="container d-flex justify-content-end h-100">
            <div class="d-flex align-items-center">
                <div class="text-white text-end">
                    <h4 class="homepage-image-subheading mb-3">Forget the rules</h4>
                    <h1 class="homepage-image-heading mb-3 text-capitalize">Create your style</h1>
                    <a class="homepage-image-btn btn bg-light" asp-controller="Clothes" asp-action="Index">CHECK OUT PRODUCTS</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->

    <!-- Categories -->
    <div class="bg-light">
        <div class="container py-5">

            <!-- Categories menu title -->
            <h2 class="text-center fw-bold">CATEGORIES</h2>
            <p class="text-center text-secondary fst-italic mb-0">Categories that is featured!?</p>
            <hr class="title-line mx-auto" />
            <!-- Categories menu title -->
            
            @if (Model.Categories != null)
            {
                <!-- Categories list -->
                <div class="d-flex flex-wrap justify-content-around">
                    @foreach (var category in Model.Categories)
                    {
                        <a asp-controller="Clothes" asp-action="Category" asp-route-id="@category.Id" class="homepage-category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark text-decoration-none">
                            <i class="fa-solid fa-shirt fa-xl"></i>
                            <h5 class="pt-3">@category.Name</h5>
                        </a>
                    }
                </div>
                <!-- Categories list -->
            }
            else 
            {
                <!-- Categories list not found warning -->
                <h3 class="text-center fw-bold text-warning mb-0"><i class="fa-solid fa-biohazard"></i>&nbsp; Oh no! There aren't any categories. Please contact your admin to add some!! &nbsp;<i class="fa-solid fa-biohazard"></i></h3>
                <!-- Categories list not found warning -->
            }
        </div>
    </div>
    <!-- Categories -->

    <!-- Products -->
    <div class="bg-dark">
        <div class="container py-5">

            <!-- Products featured title -->
            <h2 class="text-center fw-bold text-light">PRODUCTS</h2>
            <p class="text-center text-white-50 fst-italic mb-0">Featured that of the products?!</p>
            <hr class="title-line mx-auto" style="color: lightgray" />
            <!-- Products featured title -->

            @if (Model.Clothes != null) 
            {
                <!-- Products list -->
                <div class="d-flex flex-wrap justify-content-around">
                    @foreach (var clothes in Model.Clothes)
                    {
                        <div class="d-flex flex-column">
                            <div class="products-container border-light text-center pb-2 m-3">
                                <a asp-controller="Clothes" asp-action="Single" asp-route-id="@clothes.ID">
                                    @if (@clothes.Images != null)
                                    {
                                        <img src="@baseAddress/@clothes.Images[0].Id" class="product-thumbnail img-thumbnail">
                                    }
                                    else
                                    {
                                        <img src="~/images/dummy-image.jpg" class="product-thumbnail img-thumbnail">    
                                    }
                                </a>
                                <h5 class="mt-2 text-white">@clothes.Name</h5>
                                <p class="mb-2 text-white-50">@clothes.Description</p>
                                <p class="mb-2 text-white-50">@clothes.Price VND</p>
                                <button class="btn btn-light">Add to cart</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- Products list -->
            }
            else
            {
                <!-- Clothes list not found warning -->
                <h3 class="text-center fw-bold text-warning mb-0"><i class="fa-solid fa-bolt"></i>&nbsp; Oh no! There aren't any clothes. Please contact your admin to add some!! &nbsp;<i class="fa-solid fa-bolt"></i></h3>
                <!-- Clothes list not found warning -->
            }
        </div>
    </div>
    <!-- Products -->

</div>