@model IEnumerable<ClothesShop.SharedVMs.ClothesDto>

@{
    ViewData["Title"] = "Products";
    var getList = ViewBag.Categories as List<ClothesShop.SharedVMs.CategoryDto>;
}

<div>

    <!-- Background image -->
    <div class="product-image pb-5 bg-image">
        <div class="container d-flex justify-content-start h-100">
            <div class="d-flex align-items-center">
                <div class="text-dark text-start">
                    <h4 class="product-image-subheading mb-3">Enjoy the moment</h4>
                    <h1 class="product-image-heading text-capitalize">Dress to your liking</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->

    <!-- Products -->
    <div class="container py-4">
        
        <!-- Product header -->
        <h2 class="fw-bold text-center">CLOTHES</h2>
        <hr class="title-line mx-auto" />
        <!-- Product header -->

        <div class="row">

            <!-- Product filter -->
            <div class="col-3">
                <h5 class="fw-bold">Filter by category:</h5>
                <ul>
                    @foreach (var category in getList)
                    {
                        <li><a asp-action="Category" asp-route-id="@category.Id">@category.Name</a></li>
                    }
                </ul>
            </div>

            <!-- Product filter -->

            <!-- Products list -->
            <div class="col-9">
                <div class="d-flex flex-wrap justify-content-between pt-2">
                    @foreach (var clothes in Model)
                    {
                        <div class="d-flex flex-column">
                            <div class="products-container text-center pb-2">
                                <a asp-action="Single" asp-route-id="@clothes.ID"><img src="~/images/TestShirt.jpg" class="product-thumbnail img-thumbnail"></a>
                                <h5 class="mt-2">@clothes.Name</h5>
                                <p class="mb-2 text-secondary">@clothes.Description</p>
                                <p class="mb-2">@clothes.Price VND</p>
                                <button class="btn btn-dark">Add to cart</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Products list -->

        </div>

    </div>
    <!-- Products -->

</div>