@model IEnumerable<ClothesShop.SharedVMs.ClothesDto>

@{
    ViewData["Title"] = "Products";
    var getList = ViewBag.Categories as List<ClothesShop.SharedVMs.CategoryDto>;
    string baseAddress = "https://localhost:7167/api/Images";
}

<div>

    <!-- Background image -->
    <div class="product-image pb-5 bg-image">
        <div class="container d-flex justify-content-start h-100">
            <div class="d-flex align-items-center">
                <div class="text-dark text-start">
                    <h4 class="product-image-subheading mb-3">Enjoy the moment</h4>
                    <h1 class="product-image-heading text-capitalize">Dress to your liking</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->

    <!-- Products -->
    <div class="container py-4">
        <div class="row">
            <div class="col-2 mt-5 pt-4">
                @if (getList != null)
                {
                    <!-- Product filter -->
                    <h5 class="fw-bold">Categories</h5>
                    <ul class="p-0 pt-3 mx-5" style="list-style: none; border-left: 1px dashed">
                        @foreach (var category in getList)
                        {
                            <li class="d-flex flex-row mb-3">
                                <div style="flex: 1; border-bottom: 1px dashed"></div>
                                <a asp-action="Category" asp-route-id="@category.Id" class="text-decoration-none fw-bold" style="flex: 3">@category.Name</a>
                            </li>
                        }
                        <li class="d-flex flex-row">
                            <div style="flex: 1; border-bottom: 1px dashed"></div>
                            <a asp-action="Index" class="text-decoration-none fw-bold" style="flex: 3">None</a>
                        </li>
                    </ul>
                    <!-- Product filter -->
                }
                else
                {
                    <!-- Categories list not found warning -->
                    <h3 class="text-center fw-bold text-warning mb-0">There aren't any categories to filter!!</h3>
                    <!-- Categories list not found warning -->
                }
            </div>

            <!-- Products list -->
            <div class="col-10">

                <!-- Product header -->
                <h2 class="fw-bold text-center">CLOTHES</h2>
                <hr class="title-line mx-auto" />
                <!-- Product header -->

                @if (Model != null)
                {
                    <div class="d-flex flex-wrap justify-content-around">
                        @foreach (var clothes in Model)
                        {
                            <div class="d-flex flex-column">
                                <div class="products-container text-center pb-2 m-2">
                                    <a asp-action="Single" asp-route-id="@clothes.ID">
                                        @if (@clothes.Images != null)
                                        {
                                            <img src="@baseAddress/@clothes.Images[0].Id" class="product-thumbnail img-thumbnail">
                                        }
                                        else
                                        {
                                            <img src="~/images/dummy-image.jpg" class="product-thumbnail img-thumbnail">    
                                        }
                                    </a>
                                    <h5 class="mt-2">@clothes.Name</h5>
                                    <p class="mb-2 text-secondary">@clothes.Description</p>
                                    <p class="mb-2">@clothes.Price VND</p>
                                    <button class="btn btn-dark">Add to cart</button>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <!-- Clothes list not found warning -->
                    <h3 class="text-center fw-bold text-warning mb-0"><i class="fa-solid fa-bolt"></i>&nbsp; Oh no! There aren't any categories. Please contact your admin to add some!! &nbsp;<i class="fa-solid fa-bolt"></i></h3>
                    <!-- Clothes list not found warning -->
                }
            </div>
            <!-- Products list -->

        </div>

    </div>
    <!-- Products -->

</div>