@model IEnumerable<ClothesShop.SharedVMs.ClothesDto>

@{
    ViewData["Title"] = "Products Detail";
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;
    string baseAddress = "https://localhost:7167/api/Images";

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<!-- Header -->
<header>

    <!-- Navbar -->
    <nav class="navigation-bar-container navbar navbar-expand-lg navbar-dark bg-dark p-0">
        <div class="container-fluid d-flex p-0">
            <div class="col-2">
                
            </div>
            <div class="col-8">
                <ul class="navigation-bar-center navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                    <li class="nav-item active mx-3">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" asp-controller="Clothes" asp-action="Index">Products</a>
                    </li>
                </ul>
            </div>
            <div class="navigation-bar-right col-2 d-flex justify-content-end">
                <div class="navigation-icon-container col-4 text-center">
                    <a asp-controller="Cart" asp-action="Index" class="navigation-cart-icon align-middle"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
                </div>
                @if (ViewBag.Username != null)
                {
                    <div class="navigation-icon-container col-4 text-center">
                        <a asp-controller="Home" asp-action="Logout" class="navigation-user-icon align-middle">@ViewBag.Username</a>
                    </div>                        
                } else {
                    <div class="navigation-icon-container col-4 text-center">
                        <a asp-controller="Home" asp-action="Logout" class="navigation-user-icon align-middle"><i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
                    </div> 
                }
            </div>
        </div>
    </nav>
    <!-- Navbar -->

</header>
<!-- Header -->

<div class="product-detail-container container my-5 border p-0">
    <div class="d-flex flex-row">

        @foreach(var clothes in Model)
        {
            <!-- Product image -->
            <div class="p-0">
                @if (@clothes.Images != null)
                {
                    <img src="@baseAddress/@clothes.Images[0].Id" class="product-detail-image img-fluid">
                }
                else
                {
                    <img src="~/images/dummy-image.jpg" class="product-detail-image img-fluid">    
                }
            </div>
            <!-- Product image -->

            <!-- Product info & rating -->
            <div class="p-0 text-end" style="flex: 1">

                <!-- Product detail -->
                <div class="product-detail-box px-4">
                    @*<h3 class="fw-bold pt-3">Shirt</h3>*@
                    <h2 class="pt-3">@clothes.Name</h2>
                    <hr />
                    <div class="mb-3">
                        <span class="product-star-fade-n" id="sRate1"></span>
                        <span class="product-star-fade-n" id="sRate2"></span>
                        <span class="product-star-fade-n" id="sRate3"></span>
                        <span class="product-star-fade-n" id="sRate4"></span>
                        <span class="product-star-fade-n" id="sRate5"></span>
                    </div>
                    @*<p class="text-secondary">Shirt description</p>*@
                    <p class="text-secondary">@clothes.Description</p>
                    @*<p>200,000VND</p>*@
                    <p>@clothes.Price</p>
                    <form class="d-inline text-end">
                        <label for="product-quantity">Quantity:</label>
                        <input type="number" name="product-quantity" class="product-detail-quantity-input form-control mx-2"/>
                        <button class="btn btn-dark">Add to cart</button>
                    </form>
                </div>
                <!-- Product detail -->

                <!-- Rating box -->
                <div class="product-rating-box d-flex justify-content-end align-items-center">
                    <form asp-controller="Ratings" asp-action="Create" class="px-4">
                    @*<form class="px-4">*@
                        <div>
                            <p class="product-rating-box-title m-0">Your rating</p>
                            <p class="product-rating-box-description text-secondary m-0">(1 start is bad, 5 star is good)</p>
                            @if (ViewBag.UserRating != 0)
                            {
                                <div class="mb-3">
                                    <span class="product-star-fade-n" id="sUserRate1"></span>
                                    <span class="product-star-fade-n" id="sUserRate2"></span>
                                    <span class="product-star-fade-n" id="sUserRate3"></span>
                                    <span class="product-star-fade-n" id="sUserRate4"></span>
                                    <span class="product-star-fade-n" id="sUserRate5"></span>
                                </div>
                            }
                            else
                            {
                                <div onmouseout="CRateSelected()">
                                    <span class="product-star-fade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                    <span class="product-star-fade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                    <span class="product-star-fade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                    <span class="product-star-fade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                    <span class="product-star-fade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                </div>                                
                            }
                        </div>
                        <div>
                            @if (ViewBag.UserRating != 0)
                            {
                                <div>
                                    <input id="btnRegister" name="btnRegister" value="Thank you for your rating" class="btn btn-warning" disabled />
                                </div>
                            } else
                            {
                                <div>
                                    <input type="hidden" name="ClothesId" value="@clothes.ID" />
                                    <input type="hidden" name="RatingNumber" id="Rating" value="0" />
                                    <input type="submit" id="btnRegister" name="btnRegister" value="Submit Rating" class="btn btn-warning" />
                                </div>                                
                            }
                        </div>
                    </form>
                </div>
                <!-- Rating box -->

            </div>
            <!-- Product info & rating -->
        }
    </div>
</div>

<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")" type="text/javascript"></script>
<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'product-star-glow-n');
        }
    }

    function SCUserRate() {
        for (var i = 1; i <= @ViewBag.UserRating; i++) {
            $("#sUserRate" + i).attr('class', 'product-star-glow-n');
        }
    }

    function SubmitComment() {
        if ($("#Rating").val() == "0") {
            alert("Please rate this service provider.");
            return false;
        }
        else {
            return true;
        }
    }

    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'product-star-glow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'product-star-fade');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'product-star-glow');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'product-star-fade');
        }
    }

    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'product-star-glow');
        }
    }

    $(function(){
        SCRate();
        SCUserRate();
    });
</script>